body {
  font-family: "Cabin", sans-serif;
  margin: 0;
 }

 .encabezado {
  background-color: rgba(0, 0, 0, 0);
 }

 h5 {
  color: #fff;
  font-size: 1rem;
 }

 .fondo-negro {
  background-color: #000000;
 }

 .iconos {
  background-color: #66ccff;
  text-align: center;
 }

 .final {
  background-color: #66ccff;
 }

 .fondo-tarjeta {
  background-color: #66ccff;
}

 .estiloF {
  background-color: #66ccff;
  display: inline-block;
  margin-left: 240px;
 }

 .iconosF {
  display: inline-block;
  margin-left: 400px;
}

