body {
  font-family: "Cabin", sans-serif;
  margin: 0;
 }

 .encabezado {
  background-color: rgba(0, 0, 0, 0);
 }

 h5 {
  color: #fff;
  font-size: 1rem;
 }

 .fondo-negro {
  background-color: #000000;
 }
